<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216485229780-hr17d83r7utqr4bnr9v72tpcfr1uc7n0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216485229780-hr17d83r7utqr4bnr9v72tpcfr1uc7n0</string>
	<key>API_KEY</key>
	<string>AIzaSyB_T4z6GeesfWTdi_jIuI8vWAq8AXkeyiw</string>
	<key>GCM_SENDER_ID</key>
	<string>216485229780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-63ab7</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-63ab7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216485229780:ios:bc8cb5ca54e5c0e1b7f741</string>
</dict>
</plist>